
    <section class="contact-section">
        <div class="container">
            <h2>Contact Us</h2>
            <p>If you have any questions, feel free to reach out to us!</p>
            <div class="contact-info">
                <div class="contact-info-item">
                    <i class="fas fa-home"></i>
                    <h4>Address</h4>
                    <p>Alex-Cairo</p>
                </div>
                <div class="contact-info-item">
                    <i class="fas fa-phone"></i>
                    <h4>Phone</h4>
                    <p>01559091117</p>
                </div>
                <div class="contact-info-item">
                    <i class="fas fa-envelope"></i>
                    <h4>Email</h4>
                    <p>abdallasabry9&#64;gmail.com</p>
                </div>
            </div>
        </div>
        <h2 class="bg-body-secondary p-3 m-3 text-body-emphasis rounded-3 ">See us and our projects</h2>
        <a [routerLink]="['/ContactUS/vision']" routerLinkActive="active" class="btn btn-info mx-2">Vision</a>
        <a [routerLink]="['/ContactUS/values']" routerLinkActive="active" class="btn btn-info">Values</a>
    </section>



<div class="row">
  <div class="col-md-12">
    <p>asdsfasafsdf</p>
    <router-outlet></router-outlet>
  </div>
</div>

