
<h4 class="mt-3 ">{{userRegisterForm.value | json}}</h4>
<div class="container row">
  <div class="col-md-6 col-lg-8">
    <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 mt-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" formControlName="name" id="name" aria-describedby="emailHelp">
        <div class="text-danger">
          <div *ngIf="name?.invalid && name?.touched">
            <small *ngIf="name?.errors?.['required']">Name is required.</small>
            <small *ngIf="name?.errors?.['minlength']">Name must be at least 3 characters long.</small>
            <small *ngIf="name?.errors?.['maxlength']">Name cannot be more than 25 characters.</small>
            <small *ngIf="name?.errors?.['pattern']">Name must contain only letters.</small>
          </div>
        </div>
      </div>

      <div formGroupName="address">
        <div class="mb-3 mt-3">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" name="city" formControlName="city" id="city" aria-describedby="emailHelp">

          <div class="text-danger">
            <div *ngIf="city?.invalid && city?.touched">
              <small *ngIf="city?.errors?.['required']">City is required.</small>
              <small *ngIf="city?.errors?.['minlength']">City must be at least 3 characters long.</small>
              <small *ngIf="city?.errors?.['maxlength']">City cannot be more than 25 characters.</small>
              <small *ngIf="city?.errors?.['pattern']">City must contain only letters.</small>
            </div>
          </div>

        </div>
        <div class="mb-3 mt-3">
          <label for="street" class="form-label">Street</label>
          <input type="text" class="form-control" name="street" formControlName="street" id="street" aria-describedby="emailHelp">
        <div class="text-danger">
          <div *ngIf="street?.invalid && street?.touched">
            <small *ngIf="street?.errors?.['required']">Street is required.</small>
            <small *ngIf="street?.errors?.['minlength']">Street must be at least 3 characters long.</small>
            <small *ngIf="street?.errors?.['maxlength']">Street cannot be more than 25 characters.</small>
            <small *ngIf="street?.errors?.['pattern']">Street must contain only letters.</small>
          </div>
        </div>
        </div>
      </div>
      <div formArrayName="phoneNumbers">
        <div *ngFor="let phone of phoneNumbers.controls; let i = index">
          <label  class="form-label" for="phone{{ i }}">Phone {{ i + 1 }}:</label>
          <input  class="form-control"id="phone{{ i }}" [formControlName]="i" />
          <button  type="button" class="btn btn-danger" [disabled]="phoneNumbers.length ===1" (click)="removePhoneNumber(i)">Remove</button>
          <button type="button" class="btn btn-success" (click)="addPhoneNumber()">Add Phone Number</button>
          <div *ngIf="phone.invalid && phone.touched">
            <small *ngIf="phone.errors?.['required']">Phone number is required.</small>
          </div>
           <!-- Display error message -->
          <div *ngIf="errorMessage" class="text-danger">
            {{ errorMessage }}
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" formControlName="email" id="email" aria-describedby="emailHelp">
        <div class="text-danger">
          <div *ngIf="email?.invalid && email?.touched">
            <small *ngIf="email?.errors?.['required']">Email is required.</small>
            <small *ngIf="email?.errors?.['email']">Invalid email format.</small>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" formControlName="password" id="password">
        <div class="text-danger">
          <div *ngIf="password?.invalid && password?.touched">
            <small *ngIf="password?.errors?.['required']">Password is required.</small>
            <small *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</small>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary"  [disabled]="userRegisterForm.invalid">Submit</button>
    </form>
  </div>
</div>
